@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/wave-haikei.svg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.app-container {
    padding: 1rem 1.8rem;
    border: solid yellow 3px;
    border-radius: 1rem;
    color: white;
}

.app-container p {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
}

.app-container .units-container {
    display: flex;
    justify-content: space-between;
}

.app-container .unit-container {
    width: 12.5rem;
    margin: 0.5rem;
}

.app-container input {
    width: 11rem;
    font-size: 2rem;
    padding: 0.7rem;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    border: solid yellow 3px;
    color: white;
    text-align: center;
}

.app-container select {
    width: 12.8rem;
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 0 0 5px 5px;
    background-color: rgb(70, 70, 70);
    border: solid rgb(70, 70, 70) 1px;
    color: white;

}

.app-container input:focus,
.app-container select:focus {
    outline: none;
}